* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body{
  font-size: 1rem;
  text-align: center;

}
header,footer {
  width: 100%;
  background-color: gray;
  color: white;
}

.menu,.contacts-list {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 1rem;
padding: 2rem;

}
.list,.contact{
  list-style: none;
}
h1{
  font-size: 2rem;
margin: auto;
padding-top: 2rem;
}
main{
padding: .5rem;
  background-color: rgb(230, 224, 224);
}
.single-car{
 margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.img-plus-title{
flex: 1;
}
.car-img,.logo{
  width: 100%;
  display: block;
  height: auto;
}
.car-description{
padding: 1rem;
  flex: 2;
}
h1,h2{
color: rgb(92, 90, 90);
}
h3{
  color: gray;
  padding: .5rem;
}
footer{
display: flex;
flex-direction: row;
}
.logo{
  width: 10%;
  margin: auto;
  border-radius: 50%;
  padding: 2rem;
}
.contacts-list{

  margin-top: 1rem;
  margin-right: 1rem;
}
