* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  text-align: center;

}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  gap: .3rem;
  padding: 1.5rem;
  border-radius: .3rem;
  color: rgb(63, 61, 61);

}


.set {
  display: flex;
  flex-direction: column;
  flex: 0 1 1 1,2rem;
  border: 1px solid rgb(80, 79, 79);
  border-radius: .3rem;
  color: rgb(63, 61, 61);
}

legend {
  text-align: left;
  margin: 1rem;
}

.form label {
  font-size: .6rem;
  font-weight: 400;
  color: black;
}

.label {
  font-size: .6rem;
  font-weight: 400;
  color: black;
}

h3 {
  font-size: .6rem;
  font-weight: 400;
  color: black;
}

.label,
input {
  padding: .5rem;
}

.label-input {
  display: flex;
  padding: .3rem .5rem;
  align-items: center;

}


.label-input select,
.label-input textarea {
  flex: 1;
}


.colors {
  display: flex;
  align-items: center;
  gap: .4rem;
  flex-wrap: wrap;

}

.gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;

}

.person-gender {
  display: flex;

  align-items: center;

}

.checkbox {
  justify-content: flex-start;
  align-items: center;
}

.price-input {
  display: flex;
  flex-direction: column;
  padding: .5rem;

}

.price {

  margin-top: .2rem;

}

.btn {
  display: flex;
  gap: 5rem;
  margin: auto;
  justify-content: space-between;

}

input[type="submit"] {
  padding: .5rem 2rem;
  border-radius: .5rem;
}

button {
  padding: .5rem 2rem;
  border-radius: .5rem;
}