* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  text-align: center;

}

.form {
  max-width: 38rem;
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  border: rgb(75, 74, 74) solid 3px;
  padding: 1.5rem;


}

.form,
.set {
  border-radius: .3rem;
  color: rgb(63, 61, 61);
}

.set {
  display: flex;
  flex-direction: column;
  border: rgb(80, 79, 79) solid 1px;

}
legend{
text-align: left;
margin: 1rem;
}
.label {
  padding: .7rem;
}

.label-input{
  padding: .5rem .5rem;
}
.gender{
display: flex;
margin-left: 4rem;

justify-content: center;
margin: auto;
}