* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  text-align: center;

}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

header,
footer {
  width: 100%;
  background-color: gray;
  color: white;
}

.place-order {
  color: black;
}

.menu,
.place-order {
  padding: 1rem;
  margin: 1.5rem;
}

.menu {
  display: flex;
  gap: 1.5rem;


}

.btn {
  background-color: rgb(230, 224, 224);
  margin: 1rem;
  border-radius: 1.3rem;
  text-decoration: none;
  padding: 1rem 1.5rem;
  height: 20%;
  text-align: center;
}

.list,
.contact {
  list-style: none;
}

.list {
  color: rgb(206, 200, 200);
}
a{
  display: block;
font-size: 1.2rem;
margin: 1rem;
}

h1 {
  font-size: 2rem;
  margin: auto;
  padding-top: 2rem;
}

main {
  padding: .5rem;
  background-color: rgb(230, 224, 224);
}

.single-car {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.img-plus-title {
  flex: 1;
}

.car-img,
.logo {
  width: 100%;
  display: block;
  height: auto;
}

.car-description {
  padding: 1rem;
  flex: 2;
}

h1,
h2,
.btn,a {
  color: rgb(92, 90, 90);
}

h3 {
  color: gray;
  padding: .5rem;
}

footer {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 10%;
  margin: auto;
  border-radius: 50%;
  padding: 2rem;
}

.contacts-list {

  margin-top: 1rem;
  margin-right: 1rem;
}

.btn {

  cursor: pointer;
  font-size: 1.3rem;
}

.contacts-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;


}

.contacts-list {
  padding: 1rem;
}

.car-info {
  border: black solid 1px;
  height: 5rem;
}

.table-name {
  padding: 1rem;
  font-size: 1.5rem;
}

.car-table {
  margin: auto;
width: 50vw;
  border-radius: .5rem;
  border: rgb(56, 55, 55) ridge 4px;
}



th,
td{

border: gray solid 1.5px;
border: grey solid 1.5px;
border-radius: .3rem;
}
